.row {
  margin-left: 10px;
}

.row_posters {
  display: flex;
  padding: 20px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transform: transform 500ms;
}

.row_poster:hover {
  transform: scale(1.5);
}

.row_posterLarge {
  max-height: 250px;
}

.row_posterLarge:hover {
  transform: scale(1.3);
}

.modal {
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  bottom: 20%;
  background-color: black;
  color: black;
}
