.nav {
  position: fixed;
  width: 100%;
  height: 40px;
  display: flex;
}
.nav_black {
  background-color: black;
}

.logo {
  position: fixed;
  left: 20px;
  object-fit: contain;
  margin-top: 5px;
  width: 100px;
}

.profile {
  position: fixed;
  right: 20px;
  object-fit: contain;
  margin-top: 5px;
  width: 30px;
}
