.nav {
  position: fixed;
  width: 100%;
  height: 40px;
  display: flex;
}
.nav_black {
  background-color: black;
}
.col {
  float: left;
  margin-top: 15px;
  margin-right: 10px;
}

.logo {
  margin-left: 10px;
  float: left;

  object-fit: contain;
  margin-top: 5px;
  width: 100px;
  margin-right: 10%;
}

.profile {
  position: fixed;
  right: 20px;
  object-fit: contain;
  margin-top: 5px;
  width: 30px;
}
