.banner {
  color: white;
  margin-bottom: 20px;
}

.banner_content {
  padding-top: 15%;
  padding-left: 20px;
  padding-bottom: 15%;
}
.banner_buttons {
  display: flex;
}

.banner_button {
  margin-bottom: 10px;
  margin-right: 20px;
  opacity: 0.3;
  height: 50px;
  width: auto;
  color: black;
}

.banner_title {
  margin-bottom: 10px;
}
