.banner {
  color: white;
  margin-bottom: 20px;
}

.banner_content {
  padding-top: 10%;
  padding-left: 20px;
  padding-bottom: 10%;
}
.banner_buttons {
  display: flex;
  opacity: 0.2;
}

.banner_button {
  cursor: pointer;
  margin-bottom: 10px;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 1rem;
  height: 50px;
  width: auto;
  outline: none;
  color: black;
  border: none;
  font-weight: bold;
}

.banner_button:hover {
  color: black;
}
.banner_title {
  margin-bottom: 10px;
  font-weight: bold;
}

.banner_description {
  max-width: 33%;
}

.banner_fadebottom {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
